$body-color : #f5f9ff;
$main-color : #820bc6;
$button-color : #1ed660;
$link-color : #7c7d8d;
$white-color: white;
$defaultWidth: 100%;
$break-small : 385px;
$breadcrumb-divider: quote(">");

@mixin fontFamilyAvertaBold{
    font-family: avertaBold, Helvetica, sans-serif;
    src: url("../fonts/avertaBold.otf");
}

@mixin fontFamilyAvertaRegular{
    font-family: avertaRegular, Helvetica, sans-serif;
    src: url("../fonts/avertaRegular.otf");
}
@mixin paddingToZero{
    padding : 0;
}
@mixin marginToZero{
    margin : 0;
}
@mixin backgroundSpecifications{

    background-size: cover;
    background-repeat: no-repeat;
}
@mixin cardSpecifictions{
    @include backgroundSpecifications();
    text-align: center;
    display: inline-block;
    width: 370px;
    height: 433px;
    margin-right: 30px;
    margin-bottom: 30px;
    .card-img{
        max-width: 72px;
        border: 3px solid $white-color;
        border-radius: 72px;
    }
    .card-img{
        max-width: 72px;
        border: 3px solid $white-color;
        border-radius: 72px;
    }
    .card-title{
        @include fontFamilyAvertaRegular();
        position: relative;
        top: -35px;
    }
    p{
        position: relative;
        top: -30px;
        margin-bottom: 30px;
        @include fontFamilyAvertaBold();
    }
    ol{
        margin-right: 30px;
    }
    .card-content-date{
        @include fontFamilyAvertaRegular();
        margin-bottom: 10px;
    }
}

*{
    @include paddingToZero();
    @include marginToZero();
}
a:hover{
    text-decoration: none;
}

.jumbotron-container, .footer-container, .container-fluid, .footer-text-column {
    @include paddingToZero();
}

.navbar{
    position:fixed;
    width: 100%;
    padding-top: 33px;
    padding-bottom: 39px;

    a{
        color:black;
        @include paddingToZero();
        padding-bottom: 10px;

    }
    #navbarSupportedContent{
        position: relative;
        top:5px;
        @include fontFamilyAvertaRegular();
    }

    #log-in-button{
        background: $main-color;
        border:1px solid $main-color;
        padding-top: 17px;
        padding-bottom: 17px;
        padding-left: 47px;
        padding-right: 46px;
        color: $white-color;
        margin-right:130px;
    }
    #log-in-button-inner{
        display: none;
    }
}

.navbar-brand{
    @include fontFamilyAvertaBold();
    img{
        max-width: 38px;
        margin-left: 87px;
    }
    h5{
        display: inline-block;
        position: relative;
        top:10px;
        left:20px;
        font-size: 26px;
        margin-bottom: 0;
    }
    span{
        color:$main-color;
    }
}

#main{
    padding-bottom: 300px;
    background-color: $body-color;
}
#maincontainer{
    @include paddingToZero();
    padding-top: 150px;
}
#breadCrumb {
    ol{
        margin-top: 40px;
        background-color: $body-color;
        @include paddingToZero();
        margin-bottom: 81px;
    }
    .bd-link a{
        color:$main-color;
        &:hover{
            text-decoration: none;
        }
    }
    .breadcrumb-item + .breadcrumb-item::before {
        content: $breadcrumb-divider;
    }
}


.jumbotron{
    @include fontFamilyAvertaBold();
    border-radius: 10px;
    background: url("../images/pawelczerwins.jpg") center center;
    @include backgroundSpecifications();
    background-position: 50% 50%;
    color: $white-color;
    padding-left: 80px;
    padding-top: 140px;
    button{
        width: 110px;
        height: 30px;
        border-radius: 3px;
        background-color: $button-color;
        color: $white-color;
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 29px;
        font-size: 36px;
    }
    img{
        max-width: 72px;
        border-radius: 100px;
        border:3px solid $white-color;
        margin-bottom: 10px;
    }
    h6{
        @include fontFamilyAvertaRegular();
    }

}

#first-blog{
    background: url("../images/shottosborn.jpg");
    background-position: 50% 50%;
    color:white;
    .card-img{
        margin-top: 215px;
    }
    @include cardSpecifictions();
}

.card{
    .card-header{
        background: url("../images/shottosborn.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 50%;
    }
    color:black;
    .card-img{
        position: relative;
        top: -55px;
    }
    @include cardSpecifictions();
}

.pagi-cont{
    display: flex;
    justify-content: center;
    .pagination{
        margin-top: 55px;
        color:$main-color;
        a {
            float: left;
            padding: 0 14px;
            line-height: 34px;
            color: $main-color;
            text-decoration: none;
            border: none;
            &:focus {
                background-color: $main-color;
                color: #ffffff;
            }
        }
        .page-item.active .page-link{
            background-color: $main-color;
            border-color: $main-color;
        }
    }
}

.newsForm{
    @include fontFamilyAvertaRegular();
    position: absolute;
    width: 1170px;
    height: 304px;
    background-color: $main-color;
    border-radius: 10px;
    padding-right: 100px;
    margin-top: 141px;
    line-height: 1.33;
    p{
        font-size: 36px;
        max-width: 432px;
        color: $white-color;
        margin-left: 100px;
        margin-top: 74px;
        float:left;
    }
    .form-input{
        float:right;
        margin-top: 117px;
        width: 440px;
        height: 70px;
    }
    input{
        height: 70px;
        padding: 20px;
        border-top-right-radius: 10px;
    }
    .input-group-prepend {
        position: absolute;
        right: 6px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1000;
        border-radius: 5px;
    }
    button{
        height: 60px;
        width: 73px;
        background-color: $main-color;
        color: $white-color;
    }
}


// FOOTER CSS Starts
.footer{
    margin-top: 301px;
    height: 100px;
    font-size: 17px;
    #footer-img{
        max-width: 38px;
        margin-bottom: 26.7px;
    }
    .footer-copyright{
        margin-top: 127.5px;
        font-size: 15px;
    }
    .footer-text{
        max-width: 369px;
    }
    .text-links-title{
        font-size: 20px;
        padding-top: 15px;
        margin-bottom: 19.9px;
    }
    .list-unstyled{
        @include paddingToZero();
        li{
            margin-bottom: 5px;
        }
    }
    .footer-link-column{
        margin-left: 30px;
        @include paddingToZero();
    }

     a:link{
        color:$link-color;
    }
}

@media screen and (max-width: 991px) {
    .navbar-toggler{
        border: 2px solid $main-color;
    }
    .navbar-toggler-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        color:$main-color;
    }
    #log-in-button{
        display: none;
    }
    .navbar #log-in-button-inner {
         display: block;
     }
    .card, #first-blog, .non-first, .breadcrumb{
        margin: 30px;
    }
    .newsForm{
        width: $defaultWidth;
        height: 100%;
    }
    .footer{
        margin-top: 601px;
        margin-left: 20px;
        .footer-link-column{
            padding: 30px;
        }
    }
    .form-input{
        width: $defaultWidth;
    }
}